.cardContainer{
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 1.5em;
  margin: 1.5em;
  background-color: #bcc3caf6;
  text-align: justify;
  border: 0.01em ridge rgba(0, 0, 0, 0.389);
  border-radius: 0.5em;
  box-shadow: 0.6em 0.6em 0.6em rgba(0, 0, 0, 0.389);
}

.cardContainer div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonA{
  margin-left: 30px;
  display: inline-block;
  padding: .30rem 1.25rem;
  border-radius: 10rem;
  color: #050101;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .11rem;
  transition: all .3s;
  position: relative;
  width: 150px;
  overflow: hidden;
  background-color: #57b964;
  z-index: 1;
}

.buttonR {
  margin-left: 30px;
  display: inline-block;
  padding: .30rem 1.25rem;
  border-radius: 10rem;
  color: #050101;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .11rem;
  transition: all .3s;
  position: relative;
  background-color: #d42a2a;
  width: 150px;
  overflow: hidden;
  z-index: 1;
}